[Unit]
Description=Keep the Aposto API running
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/server
ExecStart=/usr/bin/make start
Restart=on-failure

[Install]
WantedBy=multi-user.target
