starlette==0.13.2
uvicorn==0.11.3
aiofiles==0.4.0
ujson==1.35
requests==2.23.0
python-dotenv
pyStrich==0.8
reportlab==3.5.42
responses==0.10.12
python-dateutil==2.8.1
qrcode[pil]==6.1
spectree==0.3.3
email-validator==1.1.1
typing-extensions==3.7.4.2
